@import "./reset";

#faq {
  width: 60%;
  margin: auto;
  text-align: center;
  transition: 400ms all;
  div {
    .h3 {
      background-color: khaki;
      padding: 20px;
      transition: 400ms all;
    }
    .text {
      background-color: aqua;
      overflow: hidden;
      height: 0px;
      transition: 400ms all;
    }
  }
}
.active {
  height: 80px !important ;
}
